# ----------------------------------
# Archivos y carpetas generados por el Sistema
# ----------------------------------
*~
*.log
.DS_Store

# ----------------------------------
# Archivos de Eclipse
# ----------------------------------
.metadata/
bin/
tmp/
*.tmp
*.bak